*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: rgb(221, 221, 221);
}

.fatherDev{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 2% auto;
}

.fatherDev > div{
    cursor: pointer;
    margin: 1vh;
    padding: 0.5vh;
    transition: all ease-in-out 0.2s;

}

.fatherDev > div:active{
    margin: 1.5vh 1.5vh;
}

.fatherDev > div:active > div {
    width: 34vh;
    height: 26vh;
}

.fatherDev > div > div{
    border-radius: 2px 2px 0px 0px;
    width: 35vh;
    height: 27vh;
    transition: all ease-in-out 0.2s;
}

.fatherDev > div:hover{
   opacity: 0.75;
}

.fatherDev > div > p {
    display: flex;
    justify-content: center;

    font-size: 2.3vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    background-color: rgb(75, 75, 75);
    color: snow;
    padding: 1vh 0vh;
    border-radius: 0 0 2px 2px;


   
    transition: all ease-in-out 0.2s;

}





/* Button time START */
.btn_ref{
position: relative;
border: 0px solid black;

width: 21vh;
height: fit-content;
margin: 2vh auto;
background-color: rgb(32, 31, 32);
color: white;
box-shadow:inset 11vh 0 2px 0px rgb(70, 70, 70),inset -11vh 0 2px 0px rgb(70, 70, 70);

display: flex;
justify-content: center;
align-items: center;
transition: all ease-in-out 0.8s;

}

.btn_ref > span{
padding: 1vh 2vh;
width: 21vh;
height: 100%;
border: none;
white-space: nowrap;
background-color: rgba(0, 0, 0, 0);

font-size: 2.4vh;
cursor: pointer;
}

.btn_ref:hover{
    box-shadow:inset 0vh 0 0px 0px rgb(70, 70, 70),inset -0vh 0 0px 0px rgb(70, 70, 70), 0 0 10px 2px black;
    text-shadow: 0 0 10px white;
    
}

.btn_ref > i:nth-child(1){
    left: 0;

}
.btn_ref > i:nth-child(3){
    right: 0;

}
.btn_ref > i{
    position: absolute;
    height: 4.8vh;
    width: 0.5vh;
    background-color: red;
    border: 0.2vh solid red;

    transition:all ease-in-out 0.5s, width 0.5s, height 0.5s;
    transition-delay: 0s, 0.1s, 0.3s;
}

.btn_ref:hover > i{
    box-shadow: 0 0 5px red;
    height: 0.6vh;
    width: 2vh ;
    transition-delay: 0s, 0.9s, 0.6s;

}

.btn_ref:active {
    /* background-color: red; */
    box-shadow:inset 11vh 0 2px 0px red,inset -11vh 0 2px 0px red;

    color: black;
    text-shadow: 0 0 10px black;
    transition: all ease-in-out 0.1s;

}

/* .btn_ref:active{
background-color: white;
border: 0.3vh solid purple;
color: purple;
} */
/* Button time END */